.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  .row {
    height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 2em;
    align-items: center;

    padding: 0 2em;
  }

  .align-end {
    align-self: end;
  }
  
  .align-center {
    align-self: center;
  }
  
  .align-start {
    align-self: start;
  }
}

p {
  font-size: $font-size-sm;
  text-align: left;
}