@font-face {
  font-family: Futura;
  src: url("../font/futura_medium_bt.ttf");
}

@font-face {
  font-family: Futura-Italic;
  src: url("../font/futura_medium_italic.ttf");
}

* {
  font-family: Futura;
  font-weight: 500;
}

h1,
h2,
h3,
p,
span {
  color: #707070;
}

p {
  font-size: 25px;
}

.augmented {
  opacity: 0;
  color: #A40300;
  font-style: italic;
}

.nav-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin: 0 5em 5em 0;
}

.nav-group a {
  text-decoration: none;
  color: black;
}

.nav-group a#augmented-btn {
  cursor: pointer;
  color: #A40300;
}

body.home {
  overflow-x: hidden;
}

body.home h1 {
  position: absolute;
  font-size: 100px;
  z-index: 10;
  right: 11vw;
  top: 20vh;
}

body.home .author {
  position: absolute;
  font-size: 35px;
  right: 7vw;
  top: 39vh;
}

body.home p#text1-1 {
  position: absolute;
  top: 57vh;
  width: 40vw;
  right: 4vw;
}

body.home svg#pg1-1 {
  -webkit-transform: rotate(59deg);
          transform: rotate(59deg);
  position: absolute;
  bottom: 20vh;
  left: 12vw;
}

body.home svg#pg1-1 rect {
  stroke: #A40300;
  stroke-width: 6px;
  fill: transparent;
}

body.home svg#pg2-1 {
  position: absolute;
  top: 90vh;
  left: 50vw;
}

body.home svg#pg2-1 line {
  stroke: #A40300;
  stroke-width: 6px;
}

body.home svg#pg2-2 {
  position: absolute;
  top: 110vh;
  left: 10vw;
}

body.home svg#pg2-2 line {
  stroke: #707070;
  stroke-width: 6px;
}

body.home svg#pg2-3 {
  position: absolute;
  top: 105vh;
  left: 85vw;
}

body.home svg#pg2-3 line {
  stroke: #A40300;
  stroke-width: 6px;
}

body.home svg#pg2-4 {
  position: absolute;
  top: 140vh;
  left: 5vw;
}

body.home svg#pg2-4 line {
  stroke: #707070;
  stroke-width: 6px;
}

body.home svg#pg2-5 {
  position: absolute;
  top: 135vh;
  left: 10vw;
}

body.home svg#pg2-5 line {
  stroke: #A40300;
  stroke-width: 6px;
}

body.home svg#pg2-6 {
  position: absolute;
  top: 158vh;
  left: 45vw;
}

body.home svg#pg2-6 line {
  stroke: #707070;
  stroke-width: 6px;
}

body.home svg#pg2-7 {
  position: absolute;
  top: 150vh;
  left: 50vw;
}

body.home svg#pg2-7 line {
  stroke: #A40300;
  stroke-width: 6px;
}

body.home svg#pg2-8 {
  position: absolute;
  top: 195vh;
  left: 5vw;
}

body.home svg#pg2-8 line {
  stroke: #707070;
  stroke-width: 6px;
}

body.home svg#pg3-1 {
  position: absolute;
  top: 220vh;
  left: 10%;
}

body.home svg#pg3-1 line {
  stroke: #707070;
  stroke-width: 6px;
}

body.home svg#pg3-2 {
  position: absolute;
  top: 245vh;
  left: 43%;
}

body.home svg#pg3-2 line {
  stroke: #707070;
  stroke-width: 6px;
}

body.home svg#pg3-3 {
  position: absolute;
  top: 245vh;
  left: 10vw;
}

body.home svg#pg3-3 line {
  stroke: #A40300;
  stroke-width: 6px;
}

body.home svg#pg3-4 {
  position: absolute;
  top: 290vh;
  left: 1vh;
}

body.home svg#pg3-4 line {
  stroke: #707070;
  stroke-width: 6px;
}

body.home svg#pg3-5 {
  position: absolute;
  top: 255vh;
  left: 85vw;
}

body.home svg#pg3-5 line {
  stroke: #A40300;
  stroke-width: 6px;
}

body.home svg#pg4-1 {
  position: absolute;
  top: 320vh;
  left: 10%;
}

body.home svg#pg4-1 line {
  stroke: #707070;
  stroke-width: 6px;
}

body.home svg#pg4-2 {
  position: absolute;
  top: 345vh;
  left: 10vw;
}

body.home svg#pg4-2 line {
  stroke: #A40300;
  stroke-width: 6px;
}

body.home svg#pg4-3 {
  position: absolute;
  top: 390vh;
  left: 1vh;
}

body.home svg#pg4-3 line {
  stroke: #707070;
  stroke-width: 6px;
}

body.home svg#pg4-4 {
  position: absolute;
  top: 355vh;
  left: 85vw;
}

body.home svg#pg4-4 line {
  stroke: #A40300;
  stroke-width: 6px;
}

body.home p#text1-2 {
  position: absolute;
  top: 440vh;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
}

body.home iframe {
  position: absolute;
  top: 450vh;
  left: 0;
  right: 0;
  margin: 1em auto;
}

body.home .bottom {
  position: absolute;
  top: 565vh;
  right: 0;
}

body.summary img {
  position: absolute;
  left: -15vw;
  max-height: 99vh;
}

body.summary .text {
  position: absolute;
  top: 5vh;
  right: 10vw;
  width: 40vw;
  text-align: center;
  font-size: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 94vh;
}

body.summary .text a {
  text-decoration: none;
  color: #A40300;
  font-style: italic;
}

body.summary .bottom {
  position: absolute;
  top: 110vh;
  right: 0;
}

.container .row {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
}

.container .align-end {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.container .align-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .align-start {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

p {
  font-size: 18px;
  text-align: left;
}

.title {
  text-align: right;
}

.svg-left {
  width: 450em;
}

.border {
  border: 1px solid black;
}

/**
 * Flex utilities
 *
 * 29nov2018
 */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex .grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex .grow-2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.flex .grow-3 {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.flex .grow-4 {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.flex .grow-5 {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

.flex .shrink-1 {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.flex .shrink-2 {
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.flex .shrink-3 {
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.flex .shrink-4 {
  -ms-flex-negative: 4;
      flex-shrink: 4;
}

.flex .shrink-5 {
  -ms-flex-negative: 5;
      flex-shrink: 5;
}

.flex .align-self-auto {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.flex .align-self-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.flex .align-self-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.flex .align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.flex .align-self-baseline {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.flex .align-self-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.align-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.align-content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.align-content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.align-content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.align-content-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.align-content-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.m-sm {
  margin: 1rem;
}

.m-md {
  margin: 3rem;
}

.m-lg {
  margin: 5rem;
}

.p-sm {
  padding: 1rem;
}

.p-md {
  padding: 3rem;
}

.p-lg {
  padding: 5rem;
}
/*# sourceMappingURL=style.css.map */