$grey: #707070;
$red: #A40300;

$font-size-sm: 14px;
$font-size-md: 25px;
$font-size-lg: 40px;

@font-face {
  font-family: Futura;
  src: url("../font/futura_medium_bt.ttf");
}

@font-face {
  font-family: Futura-Italic;
  src: url("../font/futura_medium_italic.ttf");
}

* {
  font-family: Futura;
  font-weight: 500;
}

h1,
h2,
h3,
p,
span {
  color: $grey;
}

p {
  font-size: $font-size-md;
}

.augmented {
  opacity: 0;
  color: $red;
  font-style: italic;
}

// Utils
.nav-group {
  display: flex;
  position: absolute;
  bottom: 2em;
  right: 2em;

  a {
    text-decoration: none;
    color: black;
  }

  a#augmented-btn {
    cursor: pointer;
    color: $red;
  }
}

@import 'home';
@import 'summary';
@import 'rencontre_katarina_evans_brieditis';
@import 'evolution_technique_lie_au_tissage';
@import 'utils/border';
@import 'utils/flex';
@import 'utils/margin';
@import 'utils/padding';

.sto-i1 {
  margin-right: 5em;
  margin-top: 5em;
}

.sto-i3 {

}

.keb-i1 {
  margin-top: 5em;
}


.img-banner {
  display: flex;
  max-height: 150px;
  justify-content: space-around;

  img {
    max-height: inherit;
    padding: 0 10px;
  }
}

.player {
  color: $grey;
  cursor: pointer
}

.pointer:hover {
  cursor: pointer;
}
