svg#pg4-1 {
  position: absolute;
  top: 320vh;
  left: 10%;

  line {
    stroke: $grey;
    stroke-width: 6px;
  }
}

svg#pg4-2 {
  position: absolute;
  top: 345vh;
  left: 10vw;

  line {
    stroke: $red;
    stroke-width: 6px;
  }
}

svg#pg4-3 {
  position: absolute;
  top: 390vh;
  left: 1vh;

  line {
    stroke: $grey;
    stroke-width: 6px;
  }
}

svg#pg4-4 {
  position: absolute;
  top: 355vh;
  left: 85vw;

  line {
    stroke: $red;
    stroke-width: 6px;
  }
}

p#text1-2 {
  position: absolute;
  top: 450vh;
  left: 0;
  right: 0;
  
  text-align: center;
  font-size: 18px;
}

iframe {
  position: absolute;
  top: 460vh;
  left: 0;
  right: 0;
  margin: 1em auto;
}

a#index-arrow-right {
  position: absolute;
  top: 512vh;
  right: 0;

  margin-bottom: 1em;

  font-size: 40px;
  color: black;
}